## 데이터 불러오기

In [77]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

df = pd.read_csv('../../data/DieCasting_Quality_Raw_Data.csv', header=[0, 1])
display(f"Shape: {df.shape}")

'Shape: (7535, 57)'

## 데이터 구조 파악

In [78]:
display(f"컬럼: {df.columns.tolist()}\n")

"컬럼: [('Process', 'id'), ('Process', 'Product_Type'), ('Process', 'Shot'), ('Process', 'Velocity_1'), ('Process', 'Velocity_2'), ('Process', 'Velocity_3'), ('Process', 'High_Velocity'), ('Process', 'Cylinder_Pressure'), ('Process', 'Rapid_Rise_Time'), ('Process', 'Biscuit_Thickness '), ('Process', 'Clamping_Force '), ('Process', 'Cycle_Time'), ('Process', ' Pressure_Rise_Time'), ('Process', 'Casting_Pressure'), ('Process', 'Spray_Time'), ('Process', 'Spray_1_Time'), ('Process', 'Spray_2_Time'), ('Sensor', 'Melting_Furnace_Temp'), ('Sensor', 'Air_Pressure'), ('Sensor', 'Air_Pressure_Min'), ('Sensor', 'Air_Pressure_Max'), ('Sensor', 'Coolant_Temp'), ('Sensor', 'Coolant_Temp_Min'), ('Sensor', 'Coolant_Temp_Max'), ('Sensor', 'Coolant_Pressure'), ('Sensor', 'Factory_Temp'), ('Sensor', 'Factory_Temp_Min'), ('Sensor', 'Factory_Temp_Max'), ('Sensor', 'Factory_Humidity'), ('Sensor', 'Factory_Humidity_Min'), ('Sensor', 'Factory_Humidity_Max'), ('Defects', 'Short_Shot_1'), ('Defects', 'Bubble_1'), ('Defects', 'Exfoliation_1'), ('Defects', 'Blow_Hole_1'), ('Defects', 'Stain_1'), ('Defects', 'Dent_1'), ('Defects', 'Deformation_1'), ('Defects', 'Contamination_1'), ('Defects', 'Impurity_1'), ('Defects', 'Crack_1'), ('Defects', 'Scratch_1'), ('Defects', 'Buring_Mark_1'), ('Defects', 'Inclusions_1'), ('Defects', 'Short_Shot_2'), ('Defects', 'Bubble_2'), ('Defects', 'Exfoliation_2'), ('Defects', 'Blow_Hole_2'), ('Defects', 'Stain_2'), ('Defects', 'Dent_2'), ('Defects', 'Deformation_2'), ('Defects', 'Contamination_2'), ('Defects', 'Impurity_2'), ('Defects', 'Crack_2'), ('Defects', 'Scratch_2'), ('Defects', 'Buring_Mark_2'), ('Defects', 'Inclusions_2')]\n"

In [79]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 7535 entries, 0 to 7534
Data columns (total 57 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   (Process, id)                   7535 non-null   int64
 1   (Process, Product_Type)         7535 non-null   int64
 2   (Process, Shot)                 7535 non-null   int64
 3   (Process, Velocity_1)           7535 non-null   float64
 4   (Process, Velocity_2)           7535 non-null   float64
 5   (Process, Velocity_3)           7535 non-null   float64
 6   (Process, High_Velocity)        7535 non-null   float64
 7   (Process, Cylinder_Pressure)    7535 non-null   int64
 8   (Process, Rapid_Rise_Time)      7535 non-null   float64
 9   (Process, Biscuit_Thickness )   7535 non-null   int64
 10  (Process, Clamping_Force )      7535 non-null   int64
 11  (Process, Cycle_Time)           7535 non-null   float64
 12  (Process,  Pressure_Rise_Time)  7535 non-null   float64
 13  (Process, Casting_Pressure)     7535 non-null   int64
 14  (Process, Spray_Time)           7535 non-null   float64
 15  (Process, Spray_1_Time)         7535 non-null   float64
 16  (Process, Spray_2_Time)         7535 non-null   float64
 17  (Sensor, Melting_Furnace_Temp)  7535 non-null   float64
 18  (Sensor, Air_Pressure)          7535 non-null   float64
 19  (Sensor, Air_Pressure_Min)      7535 non-null   int64
 20  (Sensor, Air_Pressure_Max)      7535 non-null   int64
 21  (Sensor, Coolant_Temp)          7535 non-null   float64
 22  (Sensor, Coolant_Temp_Min)      7535 non-null   int64
 23  (Sensor, Coolant_Temp_Max)      7535 non-null   int64
 24  (Sensor, Coolant_Pressure)      7535 non-null   float64
 25  (Sensor, Factory_Temp)          7445 non-null   float64
 26  (Sensor, Factory_Temp_Min)      7445 non-null   float64
 27  (Sensor, Factory_Temp_Max)      7445 non-null   float64
 28  (Sensor, Factory_Humidity)      7445 non-null   float64
 29  (Sensor, Factory_Humidity_Min)  7445 non-null   float64
 30  (Sensor, Factory_Humidity_Max)  7445 non-null   float64
 31  (Defects, Short_Shot_1)         7535 non-null   int64
 32  (Defects, Bubble_1)             7535 non-null   int64
 33  (Defects, Exfoliation_1)        7535 non-null   int64
 34  (Defects, Blow_Hole_1)          7535 non-null   int64
 35  (Defects, Stain_1)              7535 non-null   int64
 36  (Defects, Dent_1)               7535 non-null   int64
 37  (Defects, Deformation_1)        7535 non-null   int64
 38  (Defects, Contamination_1)      7535 non-null   int64
 39  (Defects, Impurity_1)           7535 non-null   int64
 40  (Defects, Crack_1)              7535 non-null   int64
 41  (Defects, Scratch_1)            7535 non-null   int64
 42  (Defects, Buring_Mark_1)        7535 non-null   int64
 43  (Defects, Inclusions_1)         7535 non-null   int64
 44  (Defects, Short_Shot_2)         7535 non-null   int64
 45  (Defects, Bubble_2)             7535 non-null   int64
 46  (Defects, Exfoliation_2)        7535 non-null   int64
 47  (Defects, Blow_Hole_2)          7535 non-null   int64
 48  (Defects, Stain_2)              7535 non-null   int64
 49  (Defects, Dent_2)               7535 non-null   int64
 50  (Defects, Deformation_2)        7535 non-null   int64
 51  (Defects, Contamination_2)      7535 non-null   int64
 52  (Defects, Impurity_2)           7535 non-null   int64
 53  (Defects, Crack_2)              7535 non-null   int64
 54  (Defects, Scratch_2)            7535 non-null   int64
 55  (Defects, Buring_Mark_2)        7535 non-null   int64
 56  (Defects, Inclusions_2)         7535 non-null   int64
dtypes: float64(20), int64(37)
memory usage: 3.3 MB

In [80]:
display("\n", df.describe())

'\n'

            Process                                                      \
                 id Product_Type         Shot   Velocity_1   Velocity_2
count  7.535000e+03  7535.000000  7535.000000  7535.000000  7535.000000
mean   3.767454e+06     1.441672   453.798938     0.148219     0.168801
std    2.175264e+06     0.496619   319.451698     0.007134     0.004720
min    1.000000e+00     1.000000     0.000000     0.134000     0.158000
25%    1.883893e+06     1.000000   195.000000     0.142000     0.166000
50%    3.767193e+06     1.000000   401.000000     0.144000     0.168000
75%    5.650924e+06     2.000000   645.000000     0.156000     0.170000
max    7.534661e+06     2.000000  1296.000000     0.180000     0.212000

                                                                    \
        Velocity_3 High_Velocity Cylinder_Pressure Rapid_Rise_Time
count  7535.000000   7535.000000       7535.000000     7535.000000
mean      0.191193      2.319210        239.655607        0.009596
std       0.011563      0.222041         23.305451        0.002148
min       0.172000      0.000000        107.000000        0.000000
25%       0.181000      2.134000        217.000000        0.008000
50%       0.188000      2.161000        239.000000        0.009000
75%       0.202000      2.523000        265.000000        0.012000
max       0.234000      2.744000        266.000000        0.021000

                          ...      Defects                                     \
      Biscuit_Thickness   ...  Blow_Hole_2 Stain_2       Dent_2 Deformation_2
count        7535.000000  ...  7535.000000  7535.0  7535.000000   7535.000000
mean           14.309622  ...     0.021367     0.0     0.000531      0.008626
std             3.286284  ...     0.150020     0.0     0.023036      0.093907
min             0.000000  ...     0.000000     0.0     0.000000      0.000000
25%            11.000000  ...     0.000000     0.0     0.000000      0.000000
50%            13.000000  ...     0.000000     0.0     0.000000      0.000000
75%            17.000000  ...     0.000000     0.0     0.000000      0.000000
max            24.000000  ...     2.000000     0.0     1.000000      2.000000

                                                                         \
      Contamination_2   Impurity_2      Crack_2 Scratch_2 Buring_Mark_2
count     7535.000000  7535.000000  7535.000000    7535.0        7535.0
mean         0.001062     0.000664     0.000265       0.0           0.0
std          0.032569     0.025753     0.016291       0.0           0.0
min          0.000000     0.000000     0.000000       0.0           0.0
25%          0.000000     0.000000     0.000000       0.0           0.0
50%          0.000000     0.000000     0.000000       0.0           0.0
75%          0.000000     0.000000     0.000000       0.0           0.0
max          1.000000     1.000000     1.000000       0.0           0.0


      Inclusions_2
count  7535.000000
mean      0.000133
std       0.011520
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

[8 rows x 57 columns]

In [81]:
df.head()

  Process                                                                   \
       id Product_Type Shot Velocity_1 Velocity_2 Velocity_3 High_Velocity
0       1            1    1      0.144      0.170      0.188         2.134
1    1002            1    2      0.144      0.170      0.182         2.124
2    2003            1    3      0.144      0.170      0.182         2.116
3    3004            1    4      0.144      0.170      0.182         2.137
4    4005            1    5      0.144      0.172      0.176         2.111

                                                        ...     Defects  \
  Cylinder_Pressure Rapid_Rise_Time Biscuit_Thickness   ... Blow_Hole_2
0               214           0.008                 10  ...           0
1               217           0.008                 11  ...           0
2               214           0.008                 11  ...           0
3               217           0.008                 11  ...           0
4               217           0.008                 12  ...           0

                                                                             \
  Stain_2 Dent_2 Deformation_2 Contamination_2 Impurity_2 Crack_2 Scratch_2
0       0      0             0               0          0       0         0
1       0      0             0               0          0       0         0
2       0      0             0               0          0       0         0
3       0      0             0               0          0       0         0
4       0      0             0               0          0       0         0


  Buring_Mark_2 Inclusions_2
0             0            0
1             0            0
2             0            0
3             0            0
4             0            0

[5 rows x 57 columns]

In [82]:
df.tail()

      Process                                                     \
           id Product_Type Shot Velocity_1 Velocity_2 Velocity_3
7530  7530659            2  659      0.150      0.166      0.210
7531  7531660            2  660      0.144      0.174      0.206
7532  7532660            2  660      0.144      0.174      0.206
7533  7533661            2  661      0.147      0.174      0.204
7534  7534661            2  661      0.147      0.174      0.204

                                                                         ...  \
     High_Velocity Cylinder_Pressure Rapid_Rise_Time Biscuit_Thickness   ...
7530         2.492               265           0.011                 17  ...
7531         2.514               264           0.011                 16  ...
7532         2.514               264           0.011                 16  ...
7533         2.532               265           0.012                 18  ...
7534         2.532               265           0.012                 18  ...

         Defects                                                          \
     Blow_Hole_2 Stain_2 Dent_2 Deformation_2 Contamination_2 Impurity_2
7530           0       0      0             0               0          0
7531           0       0      0             0               0          0
7532           0       0      0             0               0          0
7533           0       0      0             0               0          0
7534           0       0      0             0               0          0


     Crack_2 Scratch_2 Buring_Mark_2 Inclusions_2
7530       0         0             0            0
7531       0         0             0            0
7532       0         0             0            0
7533       0         0             0            0
7534       0         0             0            0

[5 rows x 57 columns]

In [83]:
df.nunique()

Process  id                      7535
         Product_Type               2
         Shot                    1271
         Velocity_1                33
         Velocity_2                27
         Velocity_3                45
         High_Velocity            319
         Cylinder_Pressure         22
         Rapid_Rise_Time           18
         Biscuit_Thickness         24
         Clamping_Force            42
         Cycle_Time                61
          Pressure_Rise_Time       16
         Casting_Pressure          65
         Spray_Time                32
         Spray_1_Time               7
         Spray_2_Time               8
Sensor   Melting_Furnace_Temp     737
         Air_Pressure              26
         Air_Pressure_Min           1
         Air_Pressure_Max           1
         Coolant_Temp              23
         Coolant_Temp_Min           1
         Coolant_Temp_Max           1
         Coolant_Pressure          22
         Factory_Temp              67
         Factory_Temp_Min           1
         Factory_Temp_Max           1
         Factory_Humidity         217
         Factory_Humidity_Min       1
         Factory_Humidity_Max       1
Defects  Short_Shot_1               3
         Bubble_1                   2
         Exfoliation_1              3
         Blow_Hole_1                4
         Stain_1                    3
         Dent_1                     2
         Deformation_1              3
         Contamination_1            2
         Impurity_1                 2
         Crack_1                    2
         Scratch_1                  2
         Buring_Mark_1              2
         Inclusions_1               1
         Short_Shot_2               3
         Bubble_2                   3
         Exfoliation_2              3
         Blow_Hole_2                3
         Stain_2                    1
         Dent_2                     2
         Deformation_2              3
         Contamination_2            2
         Impurity_2                 2
         Crack_2                    2
         Scratch_2                  1
         Buring_Mark_2              1
         Inclusions_2               2
dtype: int64

## 중복값 확인

In [84]:
# 전체 중복 데이터 확인(id 컬럼 포함)
df.duplicated().sum()

np.int64(0)

In [85]:
# 고유 id 제외 중복 확인(id 컬럼 제외)
df_dropid = df.drop(columns=[('Process','id')]).copy()
df_dropid.duplicated().sum()

np.int64(2918)

In [114]:
# id 컬럼을 제외한 데이터 중, 중복 데이터만 모아서 확인
duplicate_rows = df_dropid[df_dropid.duplicated(keep=False)]

duplicate_rows

          Process                                                      \
     Product_Type Shot Velocity_1 Velocity_2 Velocity_3 High_Velocity
1099            1    1      0.140      0.168      0.182         2.153
1100            1    1      0.140      0.168      0.182         2.153
1101            1    2      0.142      0.170      0.180         2.157
1102            1    2      0.142      0.170      0.180         2.157
1103            1    3      0.142      0.170      0.180         2.157
...           ...  ...        ...        ...        ...           ...
7530            2  659      0.150      0.166      0.210         2.492
7531            2  660      0.144      0.174      0.206         2.514
7532            2  660      0.144      0.174      0.206         2.514
7533            2  661      0.147      0.174      0.204         2.532
7534            2  661      0.147      0.174      0.204         2.532

                                                                           \
     Cylinder_Pressure Rapid_Rise_Time Biscuit_Thickness  Clamping_Force
1099               218           0.009                 10             255
1100               218           0.009                 10             255
1101               218           0.008                 11             257
1102               218           0.008                 11             257
1103               218           0.008                 11             257
...                ...             ...                ...             ...
7530               265           0.011                 17             381
7531               264           0.011                 16             381
7532               264           0.011                 16             381
7533               265           0.012                 18             382
7534               265           0.012                 18             382

      ...     Defects                                                          \
      ... Blow_Hole_2 Stain_2 Dent_2 Deformation_2 Contamination_2 Impurity_2
1099  ...           0       0      0             0               0          0
1100  ...           0       0      0             0               0          0
1101  ...           0       0      0             0               0          0
1102  ...           0       0      0             0               0          0
1103  ...           0       0      0             0               0          0
...   ...         ...     ...    ...           ...             ...        ...
7530  ...           0       0      0             0               0          0
7531  ...           0       0      0             0               0          0
7532  ...           0       0      0             0               0          0
7533  ...           0       0      0             0               0          0
7534  ...           0       0      0             0               0          0


     Crack_2 Scratch_2 Buring_Mark_2 Inclusions_2
1099       0         0             0            0
1100       0         0             0            0
1101       0         0             0            0
1102       0         0             0            0
1103       0         0             0            0
...      ...       ...           ...          ...
7530       0         0             0            0
7531       0         0             0            0
7532       0         0             0            0
7533       0         0             0            0
7534       0         0             0            0

[5836 rows x 56 columns]

In [ ]:
# 중복 데이터 중 불량 데이터만 확인
duplicate_defects = duplicate_rows[duplicate_rows['Defects'].sum(axis=1)>0]
# Shot 별 확인을 위해 Shot을 기준으로 정렬
sorted_dup_def = duplicate_defects.sort_values(by=('Process','Shot'))

# Shot 인덱스화
sorted_dup_def.index = duplicate_defects['Process']['Shot']
sorted_dup_def.index.name = 'Shot'
sorted_dup_def['Defects']

,Short_Shot_1,Bubble_1,Exfoliation_1,Blow_Hole_1,Stain_1,Dent_1,Deformation_1,Contamination_1,Impurity_1,Crack_1,...,Blow_Hole_2,Stain_2,Dent_2,Deformation_2,Contamination_2,Impurity_2,Crack_2,Scratch_2,Buring_Mark_2,Inclusions_2
Shot,,,,,,,,,,,,,,,,,,,,,
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
650,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
660,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
660,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
661,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
661,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:

display(duplicate_rows.sort_values(by=('Process','Shot')).head(30))

In [88]:
duplicate_rows[[('Process', 'Product_Type'),('Process', 'Shot')]].value_counts().head(30)

(Process, Product_Type)  (Process, Shot)
2                        44                 6
                         45                 6
                         46                 6
                         47                 6
1                        5                  4
                         6                  4
                         7                  4
                         10                 4
                         11                 4
                         12                 4
                         13                 4
                         14                 4
                         15                 4
                         16                 4
                         17                 4
                         18                 4
                         19                 4
                         20                 4
                         21                 4
                         22                 4
                         23                 4
                         24                 4
                         25                 4
                         26                 4
                         27                 4
                         28                 4
                         29                 4
                         30                 4
                         31                 4
                         32                 4
Name: count, dtype: int64

In [89]:
type_shot_df = df[[('Process','Product_Type','Process','Shot')]]
type_shot_df.duplicated(keep=False).sum()

np.int64(7535)

In [90]:
type_shot_df.value_counts()

(Process, Product_Type)
1                          4207
2                          3328
Name: count, dtype: int64

In [91]:
df['Process'].head()

,id,Product_Type,Shot,Velocity_1,Velocity_2,Velocity_3,High_Velocity,Cylinder_Pressure,Rapid_Rise_Time,Biscuit_Thickness,Clamping_Force,Cycle_Time,Pressure_Rise_Time,Casting_Pressure,Spray_Time,Spray_1_Time,Spray_2_Time
0,1,1,1,0.144,0.170,0.188,2.134,214,0.008,10,258,20.7,0.044,1037,7.8,0.7,0.8
1,1002,1,2,0.144,0.170,0.182,2.124,217,0.008,11,257,20.7,0.044,1052,7.8,0.7,0.8
2,2003,1,3,0.144,0.170,0.182,2.116,214,0.008,11,257,20.8,0.041,1037,7.8,0.7,0.8
3,3004,1,4,0.144,0.170,0.182,2.137,217,0.008,11,257,20.7,0.043,1051,7.8,0.7,0.8
4,4005,1,5,0.144,0.172,0.176,2.111,217,0.008,12,257,20.7,0.042,1052,7.8,0.7,0.8

In [92]:
df['Process'].tail()

,id,Product_Type,Shot,Velocity_1,Velocity_2,Velocity_3,High_Velocity,Cylinder_Pressure,Rapid_Rise_Time,Biscuit_Thickness,Clamping_Force,Cycle_Time,Pressure_Rise_Time,Casting_Pressure,Spray_Time,Spray_1_Time,Spray_2_Time
7530,7530659,2,659,0.150,0.166,0.210,2.492,265,0.011,17,381,36.2,0.033,595,12.1,2.0,2.0
7531,7531660,2,660,0.144,0.174,0.206,2.514,264,0.011,16,381,36.2,0.041,595,12.1,2.0,2.0
7532,7532660,2,660,0.144,0.174,0.206,2.514,264,0.011,16,381,36.2,0.041,595,12.1,2.0,2.0
7533,7533661,2,661,0.147,0.174,0.204,2.532,265,0.012,18,382,36.2,0.036,596,12.1,2.0,2.0
7534,7534661,2,661,0.147,0.174,0.204,2.532,265,0.012,18,382,36.2,0.036,596,12.1,2.0,2.0

In [93]:
df['Process', 'id'].value_counts()

(Process, id)
1          1
1002       1
2003       1
3004       1
4005       1
          ..
7530659    1
7531660    1
7532660    1
7533661    1
7534661    1
Name: count, Length: 7535, dtype: int64

In [94]:
missing_cnt = df.isnull().sum()
missing_cols = missing_cnt[missing_cnt > 0]

display(missing_cols.sort_values(ascending=False))

Sensor  Factory_Temp            90
        Factory_Temp_Min        90
        Factory_Temp_Max        90
        Factory_Humidity        90
        Factory_Humidity_Min    90
        Factory_Humidity_Max    90
dtype: int64

In [95]:
mis_df = pd.DataFrame({
    'missing_cnt': missing_cols,
    'missing_pct': df[missing_cols.index].isnull().mean() * 100
})

mis_df.sort_values('missing_cnt', ascending=False)

                             missing_cnt  missing_pct
Sensor Factory_Temp                   90     1.194426
       Factory_Temp_Min               90     1.194426
       Factory_Temp_Max               90     1.194426
       Factory_Humidity               90     1.194426
       Factory_Humidity_Min           90     1.194426
       Factory_Humidity_Max           90     1.194426

- sensor 중 6개의 컬럼에 90개씩 결측치가 있는 것을 알 수 있었음.

In [96]:
shot_cnt = df['Process','Shot'].value_counts()
print(shot_cnt)

(Process, Shot)
44     12
45     12
46     12
47     12
11     10
       ..
973     1
974     1
975     1
976     1
977     1
Name: count, Length: 1271, dtype: int64

In [97]:
df['Process', 'Shot'].nunique()

1271

- Shot이 고유값이 아님을 확인.

### 멀티 인덱싱 분리

In [98]:
df_process = df['Process'].copy()
df_sensor = df['Sensor'].copy()
df_defects = df['Defects'].copy()

df_process.set_index('id',inplace=True)

df_sensor.index = df['Process']['id']
df_sensor.index.name = 'id'
df_defects.index = df['Process']['id']
df_defects.index.name = 'id'

In [99]:
df_process.head(10)

,Product_Type,Shot,Velocity_1,Velocity_2,Velocity_3,High_Velocity,Cylinder_Pressure,Rapid_Rise_Time,Biscuit_Thickness,Clamping_Force,Cycle_Time,Pressure_Rise_Time,Casting_Pressure,Spray_Time,Spray_1_Time,Spray_2_Time
id,,,,,,,,,,,,,,,,
1,1,1,0.144,0.170,0.188,2.134,214,0.008,10,258,20.7,0.044,1037,7.8,0.7,0.8
1002,1,2,0.144,0.170,0.182,2.124,217,0.008,11,257,20.7,0.044,1052,7.8,0.7,0.8
2003,1,3,0.144,0.170,0.182,2.116,214,0.008,11,257,20.8,0.041,1037,7.8,0.7,0.8
3004,1,4,0.144,0.170,0.182,2.137,217,0.008,11,257,20.7,0.043,1051,7.8,0.7,0.8
4005,1,5,0.144,0.172,0.176,2.111,217,0.008,12,257,20.7,0.042,1052,7.8,0.7,0.8
5006,1,6,0.144,0.172,0.176,2.111,217,0.008,12,257,20.7,0.042,1052,7.8,0.7,0.8
6008,1,8,0.141,0.168,0.178,2.159,214,0.008,11,257,20.6,0.042,1036,7.8,0.7,0.8
7009,1,9,0.142,0.172,0.176,2.114,217,0.008,12,257,20.7,0.041,1052,7.8,0.7,0.8
8010,1,10,0.142,0.172,0.176,2.114,217,0.008,12,257,20.7,0.041,1052,7.8,0.7,0.8
9011,1,11,0.144,0.168,0.184,2.145,217,0.008,11,257,20.7,0.042,1051,7.8,0.7,0.8

In [ ]:
df_process.info()

<class 'pandas.DataFrame'>
Index: 7535 entries, 1 to 7534661
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Product_Type         7535 non-null   int64
 1   Shot                 7535 non-null   int64
 2   Velocity_1           7535 non-null   float64
 3   Velocity_2           7535 non-null   float64
 4   Velocity_3           7535 non-null   float64
 5   High_Velocity        7535 non-null   float64
 6   Cylinder_Pressure    7535 non-null   int64
 7   Rapid_Rise_Time      7535 non-null   float64
 8   Biscuit_Thickness    7535 non-null   int64
 9   Clamping_Force       7535 non-null   int64
 10  Cycle_Time           7535 non-null   float64
 11   Pressure_Rise_Time  7535 non-null   float64
 12  Casting_Pressure     7535 non-null   int64
 13  Spray_Time           7535 non-null   float64
 14  Spray_1_Time         7535 non-null   float64
 15  Spray_2_Time         7535 non-null   float64
dtypes: float64(10), int64(6)
memory usage: 1000.7 KB

In [100]:
df_process.describe()

,Product_Type,Shot,Velocity_1,Velocity_2,Velocity_3,High_Velocity,Cylinder_Pressure,Rapid_Rise_Time,Biscuit_Thickness,Clamping_Force,Cycle_Time,Pressure_Rise_Time,Casting_Pressure,Spray_Time,Spray_1_Time,Spray_2_Time
count,7535.000000,7535.000000,7535.000000,7535.000000,7535.000000,7535.000000,7535.000000,7535.000000,7535.000000,7535.000000,7535.000000,7535.000000,7535.000000,7535.000000,7535.000000,7535.000000
mean,1.441672,453.798938,0.148219,0.168801,0.191193,2.319210,239.655607,0.009596,14.309622,306.433311,27.735979,0.039348,856.944127,9.815979,1.409104,1.396045
std,0.496619,319.451698,0.007134,0.004720,0.011563,0.222041,23.305451,0.002148,3.286284,57.274965,8.716156,0.003945,234.815490,1.842438,0.557060,0.716170
min,1.000000,0.000000,0.134000,0.158000,0.172000,0.000000,107.000000,0.000000,0.000000,238.000000,20.200000,0.000000,516.000000,7.000000,0.700000,0.700000
25%,1.000000,195.000000,0.142000,0.166000,0.181000,2.134000,217.000000,0.008000,11.000000,255.000000,20.900000,0.036000,596.000000,8.000000,0.800000,0.800000
50%,1.000000,401.000000,0.144000,0.168000,0.188000,2.161000,239.000000,0.009000,13.000000,258.000000,22.600000,0.041000,1037.000000,9.700000,1.200000,0.800000
75%,2.000000,645.000000,0.156000,0.170000,0.202000,2.523000,265.000000,0.012000,17.000000,372.000000,35.900000,0.043000,1053.000000,12.100000,2.000000,2.000000
max,2.000000,1296.000000,0.180000,0.212000,0.234000,2.744000,266.000000,0.021000,24.000000,388.000000,218.600000,0.046000,1164.000000,13.100000,2.500000,3.000000

In [101]:
df_process['Product_Type'].value_counts()

Product_Type
1    4207
2    3328
Name: count, dtype: int64

In [102]:
df_sensor.head(10)

,Melting_Furnace_Temp,Air_Pressure,Air_Pressure_Min,Air_Pressure_Max,Coolant_Temp,Coolant_Temp_Min,Coolant_Temp_Max,Coolant_Pressure,Factory_Temp,Factory_Temp_Min,Factory_Temp_Max,Factory_Humidity,Factory_Humidity_Min,Factory_Humidity_Max
id,,,,,,,,,,,,,,
1,695.0,6.3,3,9,26.0,10,50,2.71,32.9,18.0,22.0,58.4,18.0,22.0
1002,696.4,6.3,3,9,26.1,10,50,2.69,32.9,18.0,22.0,58.2,18.0,22.0
2003,696.4,6.3,3,9,26.1,10,50,2.69,32.9,18.0,22.0,58.2,18.0,22.0
3004,696.4,6.3,3,9,26.1,10,50,2.69,32.9,18.0,22.0,58.2,18.0,22.0
4005,697.9,6.4,3,9,26.1,10,50,2.69,32.9,18.0,22.0,57.8,18.0,22.0
5006,697.9,6.4,3,9,26.1,10,50,2.69,32.9,18.0,22.0,57.8,18.0,22.0
6008,699.6,6.4,3,9,26.1,10,50,2.71,32.9,18.0,22.0,57.8,18.0,22.0
7009,699.6,6.4,3,9,26.1,10,50,2.71,32.9,18.0,22.0,57.8,18.0,22.0
8010,699.6,6.4,3,9,26.1,10,50,2.71,32.9,18.0,22.0,57.8,18.0,22.0
9011,701.4,6.5,3,9,26.1,10,50,2.71,32.9,18.0,22.0,57.9,18.0,22.0

In [103]:
df_sensor['Factory_Humidity_Max'].value_counts()

Factory_Humidity_Max
22.0    7445
Name: count, dtype: int64

In [104]:
df_sensor.info()

<class 'pandas.DataFrame'>
Index: 7535 entries, 1 to 7534661
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Melting_Furnace_Temp  7535 non-null   float64
 1   Air_Pressure          7535 non-null   float64
 2   Air_Pressure_Min      7535 non-null   int64
 3   Air_Pressure_Max      7535 non-null   int64
 4   Coolant_Temp          7535 non-null   float64
 5   Coolant_Temp_Min      7535 non-null   int64
 6   Coolant_Temp_Max      7535 non-null   int64
 7   Coolant_Pressure      7535 non-null   float64
 8   Factory_Temp          7445 non-null   float64
 9   Factory_Temp_Min      7445 non-null   float64
 10  Factory_Temp_Max      7445 non-null   float64
 11  Factory_Humidity      7445 non-null   float64
 12  Factory_Humidity_Min  7445 non-null   float64
 13  Factory_Humidity_Max  7445 non-null   float64
dtypes: float64(10), int64(4)
memory usage: 883.0 KB

In [105]:
df_sensor.isnull().sum()

Melting_Furnace_Temp     0
Air_Pressure             0
Air_Pressure_Min         0
Air_Pressure_Max         0
Coolant_Temp             0
Coolant_Temp_Min         0
Coolant_Temp_Max         0
Coolant_Pressure         0
Factory_Temp            90
Factory_Temp_Min        90
Factory_Temp_Max        90
Factory_Humidity        90
Factory_Humidity_Min    90
Factory_Humidity_Max    90
dtype: int64

In [106]:
df_sensor.describe()

,Melting_Furnace_Temp,Air_Pressure,Air_Pressure_Min,Air_Pressure_Max,Coolant_Temp,Coolant_Temp_Min,Coolant_Temp_Max,Coolant_Pressure,Factory_Temp,Factory_Temp_Min,Factory_Temp_Max,Factory_Humidity,Factory_Humidity_Min,Factory_Humidity_Max
count,7535.000000,7535.000000,7535.0,7535.0,7535.000000,7535.0,7535.0,7535.000000,7445.000000,7445.0,7445.0,7445.000000,7445.0,7445.0
mean,680.652661,6.109595,3.0,9.0,26.830126,10.0,50.0,2.701155,32.829684,18.0,22.0,61.673002,18.0,22.0
std,25.288666,0.647906,0.0,0.0,0.525149,0.0,0.0,0.052408,1.674896,0.0,0.0,7.031202,0.0,0.0
min,635.300000,4.600000,3.0,9.0,25.900000,10.0,50.0,2.580000,27.400000,18.0,22.0,45.500000,18.0,22.0
25%,656.700000,5.700000,3.0,9.0,26.500000,10.0,50.0,2.640000,31.900000,18.0,22.0,58.000000,18.0,22.0
50%,680.300000,6.200000,3.0,9.0,26.800000,10.0,50.0,2.720000,32.100000,18.0,22.0,63.000000,18.0,22.0
75%,703.100000,6.600000,3.0,9.0,27.200000,10.0,50.0,2.740000,33.800000,18.0,22.0,66.800000,18.0,22.0
max,730.000000,7.100000,3.0,9.0,28.100000,10.0,50.0,2.790000,37.000000,18.0,22.0,72.300000,18.0,22.0

In [107]:
for i in df_sensor:
    print(f"{i}: {df_sensor[i].nunique()}")

Melting_Furnace_Temp: 737
Air_Pressure: 26
Air_Pressure_Min: 1
Air_Pressure_Max: 1
Coolant_Temp: 23
Coolant_Temp_Min: 1
Coolant_Temp_Max: 1
Coolant_Pressure: 22
Factory_Temp: 67
Factory_Temp_Min: 1
Factory_Temp_Max: 1
Factory_Humidity: 217
Factory_Humidity_Min: 1
Factory_Humidity_Max: 1

In [109]:
df_defects.head(10)

,Short_Shot_1,Bubble_1,Exfoliation_1,Blow_Hole_1,Stain_1,Dent_1,Deformation_1,Contamination_1,Impurity_1,Crack_1,...,Blow_Hole_2,Stain_2,Dent_2,Deformation_2,Contamination_2,Impurity_2,Crack_2,Scratch_2,Buring_Mark_2,Inclusions_2
id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2003,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3004,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4005,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5006,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6008,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7009,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8010,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9011,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0