In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

df = pd.read_csv('../../data/DieCasting_Quality_Raw_Data.csv', header=[0, 1])
display(f"Shape: {df.shape}")

'Shape: (7535, 57)'

In [3]:
display(f"컬럼: {df.columns.tolist()}\n")

"컬럼: [('Process', 'id'), ('Process', 'Product_Type'), ('Process', 'Shot'), ('Process', 'Velocity_1'), ('Process', 'Velocity_2'), ('Process', 'Velocity_3'), ('Process', 'High_Velocity'), ('Process', 'Cylinder_Pressure'), ('Process', 'Rapid_Rise_Time'), ('Process', 'Biscuit_Thickness '), ('Process', 'Clamping_Force '), ('Process', 'Cycle_Time'), ('Process', ' Pressure_Rise_Time'), ('Process', 'Casting_Pressure'), ('Process', 'Spray_Time'), ('Process', 'Spray_1_Time'), ('Process', 'Spray_2_Time'), ('Sensor', 'Melting_Furnace_Temp'), ('Sensor', 'Air_Pressure'), ('Sensor', 'Air_Pressure_Min'), ('Sensor', 'Air_Pressure_Max'), ('Sensor', 'Coolant_Temp'), ('Sensor', 'Coolant_Temp_Min'), ('Sensor', 'Coolant_Temp_Max'), ('Sensor', 'Coolant_Pressure'), ('Sensor', 'Factory_Temp'), ('Sensor', 'Factory_Temp_Min'), ('Sensor', 'Factory_Temp_Max'), ('Sensor', 'Factory_Humidity'), ('Sensor', 'Factory_Humidity_Min'), ('Sensor', 'Factory_Humidity_Max'), ('Defects', 'Short_Shot_1'), ('Defects', 'Bubble_1'), ('Defects', 'Exfoliation_1'), ('Defects', 'Blow_Hole_1'), ('Defects', 'Stain_1'), ('Defects', 'Dent_1'), ('Defects', 'Deformation_1'), ('Defects', 'Contamination_1'), ('Defects', 'Impurity_1'), ('Defects', 'Crack_1'), ('Defects', 'Scratch_1'), ('Defects', 'Buring_Mark_1'), ('Defects', 'Inclusions_1'), ('Defects', 'Short_Shot_2'), ('Defects', 'Bubble_2'), ('Defects', 'Exfoliation_2'), ('Defects', 'Blow_Hole_2'), ('Defects', 'Stain_2'), ('Defects', 'Dent_2'), ('Defects', 'Deformation_2'), ('Defects', 'Contamination_2'), ('Defects', 'Impurity_2'), ('Defects', 'Crack_2'), ('Defects', 'Scratch_2'), ('Defects', 'Buring_Mark_2'), ('Defects', 'Inclusions_2')]\n"

In [4]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 7535 entries, 0 to 7534
Data columns (total 57 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   (Process, id)                   7535 non-null   int64
 1   (Process, Product_Type)         7535 non-null   int64
 2   (Process, Shot)                 7535 non-null   int64
 3   (Process, Velocity_1)           7535 non-null   float64
 4   (Process, Velocity_2)           7535 non-null   float64
 5   (Process, Velocity_3)           7535 non-null   float64
 6   (Process, High_Velocity)        7535 non-null   float64
 7   (Process, Cylinder_Pressure)    7535 non-null   int64
 8   (Process, Rapid_Rise_Time)      7535 non-null   float64
 9   (Process, Biscuit_Thickness )   7535 non-null   int64
 10  (Process, Clamping_Force )      7535 non-null   int64
 11  (Process, Cycle_Time)           7535 non-null   float64
 12  (Process,  Pressure_Rise_Time)  7535 non-null   float64
 13  (Process, Casting_Pressure)     7535 non-null   int64
 14  (Process, Spray_Time)           7535 non-null   float64
 15  (Process, Spray_1_Time)         7535 non-null   float64
 16  (Process, Spray_2_Time)         7535 non-null   float64
 17  (Sensor, Melting_Furnace_Temp)  7535 non-null   float64
 18  (Sensor, Air_Pressure)          7535 non-null   float64
 19  (Sensor, Air_Pressure_Min)      7535 non-null   int64
 20  (Sensor, Air_Pressure_Max)      7535 non-null   int64
 21  (Sensor, Coolant_Temp)          7535 non-null   float64
 22  (Sensor, Coolant_Temp_Min)      7535 non-null   int64
 23  (Sensor, Coolant_Temp_Max)      7535 non-null   int64
 24  (Sensor, Coolant_Pressure)      7535 non-null   float64
 25  (Sensor, Factory_Temp)          7445 non-null   float64
 26  (Sensor, Factory_Temp_Min)      7445 non-null   float64
 27  (Sensor, Factory_Temp_Max)      7445 non-null   float64
 28  (Sensor, Factory_Humidity)      7445 non-null   float64
 29  (Sensor, Factory_Humidity_Min)  7445 non-null   float64
 30  (Sensor, Factory_Humidity_Max)  7445 non-null   float64
 31  (Defects, Short_Shot_1)         7535 non-null   int64
 32  (Defects, Bubble_1)             7535 non-null   int64
 33  (Defects, Exfoliation_1)        7535 non-null   int64
 34  (Defects, Blow_Hole_1)          7535 non-null   int64
 35  (Defects, Stain_1)              7535 non-null   int64
 36  (Defects, Dent_1)               7535 non-null   int64
 37  (Defects, Deformation_1)        7535 non-null   int64
 38  (Defects, Contamination_1)      7535 non-null   int64
 39  (Defects, Impurity_1)           7535 non-null   int64
 40  (Defects, Crack_1)              7535 non-null   int64
 41  (Defects, Scratch_1)            7535 non-null   int64
 42  (Defects, Buring_Mark_1)        7535 non-null   int64
 43  (Defects, Inclusions_1)         7535 non-null   int64
 44  (Defects, Short_Shot_2)         7535 non-null   int64
 45  (Defects, Bubble_2)             7535 non-null   int64
 46  (Defects, Exfoliation_2)        7535 non-null   int64
 47  (Defects, Blow_Hole_2)          7535 non-null   int64
 48  (Defects, Stain_2)              7535 non-null   int64
 49  (Defects, Dent_2)               7535 non-null   int64
 50  (Defects, Deformation_2)        7535 non-null   int64
 51  (Defects, Contamination_2)      7535 non-null   int64
 52  (Defects, Impurity_2)           7535 non-null   int64
 53  (Defects, Crack_2)              7535 non-null   int64
 54  (Defects, Scratch_2)            7535 non-null   int64
 55  (Defects, Buring_Mark_2)        7535 non-null   int64
 56  (Defects, Inclusions_2)         7535 non-null   int64
dtypes: float64(20), int64(37)
memory usage: 3.3 MB

In [5]:
display("\n", df.describe())

'\n'

            Process                                                      \
                 id Product_Type         Shot   Velocity_1   Velocity_2
count  7.535000e+03  7535.000000  7535.000000  7535.000000  7535.000000
mean   3.767454e+06     1.441672   453.798938     0.148219     0.168801
std    2.175264e+06     0.496619   319.451698     0.007134     0.004720
min    1.000000e+00     1.000000     0.000000     0.134000     0.158000
25%    1.883893e+06     1.000000   195.000000     0.142000     0.166000
50%    3.767193e+06     1.000000   401.000000     0.144000     0.168000
75%    5.650924e+06     2.000000   645.000000     0.156000     0.170000
max    7.534661e+06     2.000000  1296.000000     0.180000     0.212000

                                                                    \
        Velocity_3 High_Velocity Cylinder_Pressure Rapid_Rise_Time
count  7535.000000   7535.000000       7535.000000     7535.000000
mean      0.191193      2.319210        239.655607        0.009596
std       0.011563      0.222041         23.305451        0.002148
min       0.172000      0.000000        107.000000        0.000000
25%       0.181000      2.134000        217.000000        0.008000
50%       0.188000      2.161000        239.000000        0.009000
75%       0.202000      2.523000        265.000000        0.012000
max       0.234000      2.744000        266.000000        0.021000

                          ...      Defects                                     \
      Biscuit_Thickness   ...  Blow_Hole_2 Stain_2       Dent_2 Deformation_2
count        7535.000000  ...  7535.000000  7535.0  7535.000000   7535.000000
mean           14.309622  ...     0.021367     0.0     0.000531      0.008626
std             3.286284  ...     0.150020     0.0     0.023036      0.093907
min             0.000000  ...     0.000000     0.0     0.000000      0.000000
25%            11.000000  ...     0.000000     0.0     0.000000      0.000000
50%            13.000000  ...     0.000000     0.0     0.000000      0.000000
75%            17.000000  ...     0.000000     0.0     0.000000      0.000000
max            24.000000  ...     2.000000     0.0     1.000000      2.000000

                                                                         \
      Contamination_2   Impurity_2      Crack_2 Scratch_2 Buring_Mark_2
count     7535.000000  7535.000000  7535.000000    7535.0        7535.0
mean         0.001062     0.000664     0.000265       0.0           0.0
std          0.032569     0.025753     0.016291       0.0           0.0
min          0.000000     0.000000     0.000000       0.0           0.0
25%          0.000000     0.000000     0.000000       0.0           0.0
50%          0.000000     0.000000     0.000000       0.0           0.0
75%          0.000000     0.000000     0.000000       0.0           0.0
max          1.000000     1.000000     1.000000       0.0           0.0


      Inclusions_2
count  7535.000000
mean      0.000133
std       0.011520
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

[8 rows x 57 columns]

In [6]:
display("\n", df.head())

'\n'

  Process                                                                   \
       id Product_Type Shot Velocity_1 Velocity_2 Velocity_3 High_Velocity
0       1            1    1      0.144      0.170      0.188         2.134
1    1002            1    2      0.144      0.170      0.182         2.124
2    2003            1    3      0.144      0.170      0.182         2.116
3    3004            1    4      0.144      0.170      0.182         2.137
4    4005            1    5      0.144      0.172      0.176         2.111

                                                        ...     Defects  \
  Cylinder_Pressure Rapid_Rise_Time Biscuit_Thickness   ... Blow_Hole_2
0               214           0.008                 10  ...           0
1               217           0.008                 11  ...           0
2               214           0.008                 11  ...           0
3               217           0.008                 11  ...           0
4               217           0.008                 12  ...           0

                                                                             \
  Stain_2 Dent_2 Deformation_2 Contamination_2 Impurity_2 Crack_2 Scratch_2
0       0      0             0               0          0       0         0
1       0      0             0               0          0       0         0
2       0      0             0               0          0       0         0
3       0      0             0               0          0       0         0
4       0      0             0               0          0       0         0


  Buring_Mark_2 Inclusions_2
0             0            0
1             0            0
2             0            0
3             0            0
4             0            0

[5 rows x 57 columns]

In [12]:
missing_cnt = df.isnull().sum()
missing_cols = missing_cnt[missing_cnt > 0]

display(missing_cols.sort_values(ascending=False))

Sensor  Factory_Temp            90
        Factory_Temp_Min        90
        Factory_Temp_Max        90
        Factory_Humidity        90
        Factory_Humidity_Min    90
        Factory_Humidity_Max    90
dtype: int64

In [ ]:
mis_df = pd.DataFrame({
    'missing_cnt': missing_cols,
    'missing_pct': df[missing_cols.index].isnull().mean() * 100
})

mis_df.sort_values('missing_cnt', ascending=False)

                             missing_cnt  missing_pct
Sensor Factory_Temp                   90     1.194426
       Factory_Temp_Min               90     1.194426
       Factory_Temp_Max               90     1.194426
       Factory_Humidity               90     1.194426
       Factory_Humidity_Min           90     1.194426
       Factory_Humidity_Max           90     1.194426

- sensor 중 6개의 컬럼에 90개씩 결측치가 있는 것을 알 수 있었음.