In [42]:
import numpy as np
import pandas as pd

In [43]:
# 데이터 불러오기
df = pd.read_csv("C:\hotsix\data\DieCasting_Quality_Raw_Data.csv")

In [44]:
# 불러온 데이터 확인
df.head(5)

,Process,Process.1,Process.2,Process.3,Process.4,Process.5,Process.6,Process.7,Process.8,Process.9,...,Defects.16,Defects.17,Defects.18,Defects.19,Defects.20,Defects.21,Defects.22,Defects.23,Defects.24,Defects.25
0,id,Product_Type,Shot,Velocity_1,Velocity_2,Velocity_3,High_Velocity,Cylinder_Pressure,Rapid_Rise_Time,Biscuit_Thickness,...,Blow_Hole_2,Stain_2,Dent_2,Deformation_2,Contamination_2,Impurity_2,Crack_2,Scratch_2,Buring_Mark_2,Inclusions_2
1,1,1,1,0.144,0.17,0.188,2.134,214,0.008,10,...,0,0,0,0,0,0,0,0,0,0
2,1002,1,2,0.144,0.17,0.182,2.124,217,0.008,11,...,0,0,0,0,0,0,0,0,0,0
3,2003,1,3,0.144,0.17,0.182,2.116,214,0.008,11,...,0,0,0,0,0,0,0,0,0,0
4,3004,1,4,0.144,0.17,0.182,2.137,217,0.008,11,...,0,0,0,0,0,0,0,0,0,0

In [45]:
# 데이터 유형 확인
# 모든 컬럼이 범주형 -> 수치형 변환 필요
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 7536 entries, 0 to 7535
Data columns (total 57 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Process     7536 non-null   str
 1   Process.1   7536 non-null   str
 2   Process.2   7536 non-null   str
 3   Process.3   7536 non-null   str
 4   Process.4   7536 non-null   str
 5   Process.5   7536 non-null   str
 6   Process.6   7536 non-null   str
 7   Process.7   7536 non-null   str
 8   Process.8   7536 non-null   str
 9   Process.9   7536 non-null   str
 10  Process.10  7536 non-null   str
 11  Process.11  7536 non-null   str
 12  Process.12  7536 non-null   str
 13  Process.13  7536 non-null   str
 14  Process.14  7536 non-null   str
 15  Process.15  7536 non-null   str
 16  Process.16  7536 non-null   str
 17  Sensor      7536 non-null   str
 18  Sensor.1    7536 non-null   str
 19  Sensor.2    7536 non-null   str
 20  Sensor.3    7536 non-null   str
 21  Sensor.4    7536 non-null   str
 22  Sensor.5    7536 non-null   str
 23  Sensor.6    7536 non-null   str
 24  Sensor.7    7536 non-null   str
 25  Sensor.8    7446 non-null   str
 26  Sensor.9    7446 non-null   str
 27  Sensor.10   7446 non-null   str
 28  Sensor.11   7446 non-null   str
 29  Sensor.12   7446 non-null   str
 30  Sensor.13   7446 non-null   str
 31  Defects     7536 non-null   str
 32  Defects.1   7536 non-null   str
 33  Defects.2   7536 non-null   str
 34  Defects.3   7536 non-null   str
 35  Defects.4   7536 non-null   str
 36  Defects.5   7536 non-null   str
 37  Defects.6   7536 non-null   str
 38  Defects.7   7536 non-null   str
 39  Defects.8   7536 non-null   str
 40  Defects.9   7536 non-null   str
 41  Defects.10  7536 non-null   str
 42  Defects.11  7536 non-null   str
 43  Defects.12  7536 non-null   str
 44  Defects.13  7536 non-null   str
 45  Defects.14  7536 non-null   str
 46  Defects.15  7536 non-null   str
 47  Defects.16  7536 non-null   str
 48  Defects.17  7536 non-null   str
 49  Defects.18  7536 non-null   str
 50  Defects.19  7536 non-null   str
 51  Defects.20  7536 non-null   str
 52  Defects.21  7536 non-null   str
 53  Defects.22  7536 non-null   str
 54  Defects.23  7536 non-null   str
 55  Defects.24  7536 non-null   str
 56  Defects.25  7536 non-null   str
dtypes: str(57)
memory usage: 3.3 MB

In [46]:
# 데이터 분리를 위한 공정/센서/불량 데이터 컬럼 이름 목록
process_name = []
sensor_name = []
defects_name = []
col = df.columns.to_list()
for i in col:
    if i.find('Pro') >= 0:
        process_name.append(i)
    elif i.find('Sen') >= 0:
        sensor_name.append(i)
    else:
        defects_name.append(i)

In [47]:
# 공정 데이터 df 저장
df_process = df[process_name]
header = df_process.iloc[0]
df_process = df_process[1:]

# 데이터 형 변환(str -> 수치형), 컬럼 이름 수정(띄어쓰기 오타 수정)
df_process.rename(columns = header, inplace = True)
df_process = df_process.apply(pd.to_numeric, errors = 'coerce')
df_process = df_process.rename(columns = {' Pressure_Rise_Time':'Pressure_Rise_Time'})
df_process.info()

<class 'pandas.DataFrame'>
RangeIndex: 7535 entries, 1 to 7535
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  7535 non-null   int64
 1   Product_Type        7535 non-null   int64
 2   Shot                7535 non-null   int64
 3   Velocity_1          7535 non-null   float64
 4   Velocity_2          7535 non-null   float64
 5   Velocity_3          7535 non-null   float64
 6   High_Velocity       7535 non-null   float64
 7   Cylinder_Pressure   7535 non-null   int64
 8   Rapid_Rise_Time     7535 non-null   float64
 9   Biscuit_Thickness   7535 non-null   int64
 10  Clamping_Force      7535 non-null   int64
 11  Cycle_Time          7535 non-null   float64
 12  Pressure_Rise_Time  7535 non-null   float64
 13  Casting_Pressure    7535 non-null   int64
 14  Spray_Time          7535 non-null   float64
 15  Spray_1_Time        7535 non-null   float64
 16  Spray_2_Time        7535 non-null   float64
dtypes: float64(10), int64(7)
memory usage: 1000.9 KB

In [48]:
df_process.describe()

,id,Product_Type,Shot,Velocity_1,Velocity_2,Velocity_3,High_Velocity,Cylinder_Pressure,Rapid_Rise_Time,Biscuit_Thickness,Clamping_Force,Cycle_Time,Pressure_Rise_Time,Casting_Pressure,Spray_Time,Spray_1_Time,Spray_2_Time
count,7.535000e+03,7535.000000,7535.000000,7535.000000,7535.000000,7535.000000,7535.000000,7535.000000,7535.000000,7535.000000,7535.000000,7535.000000,7535.000000,7535.000000,7535.000000,7535.000000,7535.000000
mean,3.767454e+06,1.441672,453.798938,0.148219,0.168801,0.191193,2.319210,239.655607,0.009596,14.309622,306.433311,27.735979,0.039348,856.944127,9.815979,1.409104,1.396045
std,2.175264e+06,0.496619,319.451698,0.007134,0.004720,0.011563,0.222041,23.305451,0.002148,3.286284,57.274965,8.716156,0.003945,234.815490,1.842438,0.557060,0.716170
min,1.000000e+00,1.000000,0.000000,0.134000,0.158000,0.172000,0.000000,107.000000,0.000000,0.000000,238.000000,20.200000,0.000000,516.000000,7.000000,0.700000,0.700000
25%,1.883893e+06,1.000000,195.000000,0.142000,0.166000,0.181000,2.134000,217.000000,0.008000,11.000000,255.000000,20.900000,0.036000,596.000000,8.000000,0.800000,0.800000
50%,3.767193e+06,1.000000,401.000000,0.144000,0.168000,0.188000,2.161000,239.000000,0.009000,13.000000,258.000000,22.600000,0.041000,1037.000000,9.700000,1.200000,0.800000
75%,5.650924e+06,2.000000,645.000000,0.156000,0.170000,0.202000,2.523000,265.000000,0.012000,17.000000,372.000000,35.900000,0.043000,1053.000000,12.100000,2.000000,2.000000
max,7.534661e+06,2.000000,1296.000000,0.180000,0.212000,0.234000,2.744000,266.000000,0.021000,24.000000,388.000000,218.600000,0.046000,1164.000000,13.100000,2.500000,3.000000

In [49]:
# 센서 데이터 df 저장
df_sensor = df[sensor_name]
header = df_sensor.iloc[0]
df_sensor = df_sensor[1:]

# 데이터 형 변환(str -> 수치형)
df_sensor.rename(columns = header, inplace = True)
df_sensor = df_sensor.apply(pd.to_numeric, errors = 'coerce')
df_sensor.info()

<class 'pandas.DataFrame'>
RangeIndex: 7535 entries, 1 to 7535
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Melting_Furnace_Temp  7535 non-null   float64
 1   Air_Pressure          7535 non-null   float64
 2   Air_Pressure_Min      7535 non-null   int64
 3   Air_Pressure_Max      7535 non-null   int64
 4   Coolant_Temp          7535 non-null   float64
 5   Coolant_Temp_Min      7535 non-null   int64
 6   Coolant_Temp_Max      7535 non-null   int64
 7   Coolant_Pressure      7535 non-null   float64
 8   Factory_Temp          7445 non-null   float64
 9   Factory_Temp_Min      7445 non-null   float64
 10  Factory_Temp_Max      7445 non-null   float64
 11  Factory_Humidity      7445 non-null   float64
 12  Factory_Humidity_Min  7445 non-null   float64
 13  Factory_Humidity_Max  7445 non-null   float64
dtypes: float64(10), int64(4)
memory usage: 824.3 KB

In [50]:
# Air_Pressure_Min과 Air_Pressure_Max를 비롯한 최대최소값 컬럼은 전부 동일한 값을 가짐
df_sensor.describe()

,Melting_Furnace_Temp,Air_Pressure,Air_Pressure_Min,Air_Pressure_Max,Coolant_Temp,Coolant_Temp_Min,Coolant_Temp_Max,Coolant_Pressure,Factory_Temp,Factory_Temp_Min,Factory_Temp_Max,Factory_Humidity,Factory_Humidity_Min,Factory_Humidity_Max
count,7535.000000,7535.000000,7535.0,7535.0,7535.000000,7535.0,7535.0,7535.000000,7445.000000,7445.0,7445.0,7445.000000,7445.0,7445.0
mean,680.652661,6.109595,3.0,9.0,26.830126,10.0,50.0,2.701155,32.829684,18.0,22.0,61.673002,18.0,22.0
std,25.288666,0.647906,0.0,0.0,0.525149,0.0,0.0,0.052408,1.674896,0.0,0.0,7.031202,0.0,0.0
min,635.300000,4.600000,3.0,9.0,25.900000,10.0,50.0,2.580000,27.400000,18.0,22.0,45.500000,18.0,22.0
25%,656.700000,5.700000,3.0,9.0,26.500000,10.0,50.0,2.640000,31.900000,18.0,22.0,58.000000,18.0,22.0
50%,680.300000,6.200000,3.0,9.0,26.800000,10.0,50.0,2.720000,32.100000,18.0,22.0,63.000000,18.0,22.0
75%,703.100000,6.600000,3.0,9.0,27.200000,10.0,50.0,2.740000,33.800000,18.0,22.0,66.800000,18.0,22.0
max,730.000000,7.100000,3.0,9.0,28.100000,10.0,50.0,2.790000,37.000000,18.0,22.0,72.300000,18.0,22.0

In [ ]:
# info()로 결측치 존재가 예상된 센서 데이터 확인
# 공장 환경 데이터 관련 컬럼 전체가 결측치인 행이 90개인 것으로 추측
df_sensor.isna().sum()

Melting_Furnace_Temp     0
Air_Pressure             0
Air_Pressure_Min         0
Air_Pressure_Max         0
Coolant_Temp             0
Coolant_Temp_Min         0
Coolant_Temp_Max         0
Coolant_Pressure         0
Factory_Temp            90
Factory_Temp_Min        90
Factory_Temp_Max        90
Factory_Humidity        90
Factory_Humidity_Min    90
Factory_Humidity_Max    90
dtype: int64

In [52]:
#  공장 환경 데이터 컬럼에 결측치가 존재하는 행 저장
ft_list = df_sensor[df_sensor["Factory_Temp"].isna()].index.to_list()
ftm_list = df_sensor[df_sensor["Factory_Temp_Min"].isna()].index.to_list()
ftma_list = df_sensor[df_sensor["Factory_Temp_Max"].isna()].index.to_list()
fh_list = df_sensor[df_sensor["Factory_Humidity"].isna()].index.to_list()
fhm_list = df_sensor[df_sensor["Factory_Humidity_Min"].isna()].index.to_list()
fhma_list = df_sensor[df_sensor["Factory_Humidity_Max"].isna()].index.to_list()

# 각 컬럼의 결측치가 있는 행이 전부 동일한지 알아보기 위해 공장 온도와 공장 최대 온도 결측치 행 비교
# 동일 -> 다른 결측치 행도 이름만 바꿔 비교해본 결과 전부 일치하는 것으로 확인
if ftm_list != fhm_list:
    print("다름!")

In [53]:
# 불량 데이터 df 저장
df_defects = df[defects_name]
header = df_defects.iloc[0]
df_defects = df_defects[1:]

# 데이터 형 변환(str -> 수치형)
df_defects.rename(columns = header, inplace = True)
df_defects = df_defects.apply(pd.to_numeric, errors = 'coerce')
df_defects.info()

<class 'pandas.DataFrame'>
RangeIndex: 7535 entries, 1 to 7535
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Short_Shot_1     7535 non-null   int64
 1   Bubble_1         7535 non-null   int64
 2   Exfoliation_1    7535 non-null   int64
 3   Blow_Hole_1      7535 non-null   int64
 4   Stain_1          7535 non-null   int64
 5   Dent_1           7535 non-null   int64
 6   Deformation_1    7535 non-null   int64
 7   Contamination_1  7535 non-null   int64
 8   Impurity_1       7535 non-null   int64
 9   Crack_1          7535 non-null   int64
 10  Scratch_1        7535 non-null   int64
 11  Buring_Mark_1    7535 non-null   int64
 12  Inclusions_1     7535 non-null   int64
 13  Short_Shot_2     7535 non-null   int64
 14  Bubble_2         7535 non-null   int64
 15  Exfoliation_2    7535 non-null   int64
 16  Blow_Hole_2      7535 non-null   int64
 17  Stain_2          7535 non-null   int64
 18  Dent_2           7535 non-null   int64
 19  Deformation_2    7535 non-null   int64
 20  Contamination_2  7535 non-null   int64
 21  Impurity_2       7535 non-null   int64
 22  Crack_2          7535 non-null   int64
 23  Scratch_2        7535 non-null   int64
 24  Buring_Mark_2    7535 non-null   int64
 25  Inclusions_2     7535 non-null   int64
dtypes: int64(26)
memory usage: 1.5 MB

In [ ]:
# 불량 유형1 -> Inclusions_1은 불량 데이터 없음
temp1 = df_defects.iloc[:,:13]
temp1.describe()

,Short_Shot_1,Bubble_1,Exfoliation_1,Blow_Hole_1,Stain_1,Dent_1,Deformation_1,Contamination_1,Impurity_1,Crack_1,Scratch_1,Buring_Mark_1,Inclusions_1
count,7535.000000,7535.000000,7535.000000,7535.000000,7535.000000,7535.000000,7535.000000,7535.000000,7535.000000,7535.000000,7535.000000,7535.000000,7535.0
mean,0.067950,0.009555,0.023225,0.032515,0.027737,0.000929,0.014466,0.000531,0.000265,0.000133,0.000265,0.000664,0.0
std,0.259466,0.097290,0.152379,0.195867,0.179668,0.030467,0.120515,0.023036,0.016291,0.011520,0.016291,0.025753,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
max,2.000000,1.000000,2.000000,3.000000,2.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0

In [ ]:
# 불량 유형2 -> Stain_2, Scratch_2, Buring_Mark2 불량 데이터 없음
temp2 = df_defects.iloc[:,13:]
temp2.describe()

,Short_Shot_2,Bubble_2,Exfoliation_2,Blow_Hole_2,Stain_2,Dent_2,Deformation_2,Contamination_2,Impurity_2,Crack_2,Scratch_2,Buring_Mark_2,Inclusions_2
count,7535.000000,7535.000000,7535.000000,7535.000000,7535.0,7535.000000,7535.000000,7535.000000,7535.000000,7535.000000,7535.0,7535.0,7535.000000
mean,0.024154,0.001194,0.017784,0.021367,0.0,0.000531,0.008626,0.001062,0.000664,0.000265,0.0,0.0,0.000133
std,0.155257,0.041522,0.135152,0.150020,0.0,0.023036,0.093907,0.032569,0.025753,0.016291,0.0,0.0,0.011520
min,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
max,2.000000,2.000000,2.000000,2.000000,0.0,1.000000,2.000000,1.000000,1.000000,1.000000,0.0,0.0,1.000000

In [54]:
# 해당하는 불량 유형이 복수인 행 조사
# 같은 유형이 여러번 검출된 데이터 존재
# 여러 유형의 불량이 검출된 데이터 존재
df_defects[df_defects.sum(axis = 1) > 2]

,Short_Shot_1,Bubble_1,Exfoliation_1,Blow_Hole_1,Stain_1,Dent_1,Deformation_1,Contamination_1,Impurity_1,Crack_1,...,Blow_Hole_2,Stain_2,Dent_2,Deformation_2,Contamination_2,Impurity_2,Crack_2,Scratch_2,Buring_Mark_2,Inclusions_2
988,1,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4774,0,0,0,1,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
4832,1,0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4833,1,0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4854,0,0,0,2,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4855,0,0,0,2,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
5116,2,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5117,2,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5170,0,0,0,1,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
5171,0,0,0,1,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
5194,0,0,0,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5195,0,0,0,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5562,1,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5563,1,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5622,1,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
5623,1,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
5762,0,0,0,0,2,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
5763,0,0,0,0,2,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
5798,1,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5799,1,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0