In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../../data/DieCasting_Quality_Raw_Data.csv')

In [4]:
df.head()

,Process,Process.1,Process.2,Process.3,Process.4,Process.5,Process.6,Process.7,Process.8,Process.9,...,Defects.16,Defects.17,Defects.18,Defects.19,Defects.20,Defects.21,Defects.22,Defects.23,Defects.24,Defects.25
0,id,Product_Type,Shot,Velocity_1,Velocity_2,Velocity_3,High_Velocity,Cylinder_Pressure,Rapid_Rise_Time,Biscuit_Thickness,...,Blow_Hole_2,Stain_2,Dent_2,Deformation_2,Contamination_2,Impurity_2,Crack_2,Scratch_2,Buring_Mark_2,Inclusions_2
1,1,1,1,0.144,0.17,0.188,2.134,214,0.008,10,...,0,0,0,0,0,0,0,0,0,0
2,1002,1,2,0.144,0.17,0.182,2.124,217,0.008,11,...,0,0,0,0,0,0,0,0,0,0
3,2003,1,3,0.144,0.17,0.182,2.116,214,0.008,11,...,0,0,0,0,0,0,0,0,0,0
4,3004,1,4,0.144,0.17,0.182,2.137,217,0.008,11,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 7536 entries, 0 to 7535
Data columns (total 57 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Process     7536 non-null   str
 1   Process.1   7536 non-null   str
 2   Process.2   7536 non-null   str
 3   Process.3   7536 non-null   str
 4   Process.4   7536 non-null   str
 5   Process.5   7536 non-null   str
 6   Process.6   7536 non-null   str
 7   Process.7   7536 non-null   str
 8   Process.8   7536 non-null   str
 9   Process.9   7536 non-null   str
 10  Process.10  7536 non-null   str
 11  Process.11  7536 non-null   str
 12  Process.12  7536 non-null   str
 13  Process.13  7536 non-null   str
 14  Process.14  7536 non-null   str
 15  Process.15  7536 non-null   str
 16  Process.16  7536 non-null   str
 17  Sensor      7536 non-null   str
 18  Sensor.1    7536 non-null   str
 19  Sensor.2    7536 non-null   str
 20  Sensor.3    7536 non-null   str
 21  Sensor.4    7536 non-null   str
 22  Sensor.5    7536 non-null   str
 23  Sensor.6    7536 non-null   str
 24  Sensor.7    7536 non-null   str
 25  Sensor.8    7446 non-null   str
 26  Sensor.9    7446 non-null   str
 27  Sensor.10   7446 non-null   str
 28  Sensor.11   7446 non-null   str
 29  Sensor.12   7446 non-null   str
 30  Sensor.13   7446 non-null   str
 31  Defects     7536 non-null   str
 32  Defects.1   7536 non-null   str
 33  Defects.2   7536 non-null   str
 34  Defects.3   7536 non-null   str
 35  Defects.4   7536 non-null   str
 36  Defects.5   7536 non-null   str
 37  Defects.6   7536 non-null   str
 38  Defects.7   7536 non-null   str
 39  Defects.8   7536 non-null   str
 40  Defects.9   7536 non-null   str
 41  Defects.10  7536 non-null   str
 42  Defects.11  7536 non-null   str
 43  Defects.12  7536 non-null   str
 44  Defects.13  7536 non-null   str
 45  Defects.14  7536 non-null   str
 46  Defects.15  7536 non-null   str
 47  Defects.16  7536 non-null   str
 48  Defects.17  7536 non-null   str
 49  Defects.18  7536 non-null   str
 50  Defects.19  7536 non-null   str
 51  Defects.20  7536 non-null   str
 52  Defects.21  7536 non-null   str
 53  Defects.22  7536 non-null   str
 54  Defects.23  7536 non-null   str
 55  Defects.24  7536 non-null   str
 56  Defects.25  7536 non-null   str
dtypes: str(57)
memory usage: 3.3 MB

In [6]:
df.describe()

,Process,Process.1,Process.2,Process.3,Process.4,Process.5,Process.6,Process.7,Process.8,Process.9,...,Defects.16,Defects.17,Defects.18,Defects.19,Defects.20,Defects.21,Defects.22,Defects.23,Defects.24,Defects.25
count,7536,7536,7536,7536,7536,7536,7536,7536,7536,7536,...,7536,7536,7536,7536,7536,7536,7536,7536,7536,7536
unique,7536,3,1272,34,28,46,320,23,19,25,...,4,2,3,4,3,3,3,2,2,3
top,id,1,44,0.144,0.168,0.182,2.524,265,0.008,11,...,0,0,0,0,0,0,0,0,0,0
freq,1,4207,12,1546,2540,577,204,2639,2704,1671,...,7380,7535,7531,7471,7527,7530,7533,7535,7535,7534

In [9]:
df.isnull().sum()

Process        0
Process.1      0
Process.2      0
Process.3      0
Process.4      0
Process.5      0
Process.6      0
Process.7      0
Process.8      0
Process.9      0
Process.10     0
Process.11     0
Process.12     0
Process.13     0
Process.14     0
Process.15     0
Process.16     0
Sensor         0
Sensor.1       0
Sensor.2       0
Sensor.3       0
Sensor.4       0
Sensor.5       0
Sensor.6       0
Sensor.7       0
Sensor.8      90
Sensor.9      90
Sensor.10     90
Sensor.11     90
Sensor.12     90
Sensor.13     90
Defects        0
Defects.1      0
Defects.2      0
Defects.3      0
Defects.4      0
Defects.5      0
Defects.6      0
Defects.7      0
Defects.8      0
Defects.9      0
Defects.10     0
Defects.11     0
Defects.12     0
Defects.13     0
Defects.14     0
Defects.15     0
Defects.16     0
Defects.17     0
Defects.18     0
Defects.19     0
Defects.20     0
Defects.21     0
Defects.22     0
Defects.23     0
Defects.24     0
Defects.25     0
dtype: int64

In [ ]:
df2 = df.copy()

In [ ]:
# rename_map = {
#     "주조_shot_ID": "id"
#     "속도_1": "Velocity_1",
#     "속도_2": "Velocity_2",
#     "속도_3": "Velocity_3",
#     "최고속도": "High_Velocity",
#     "압력_실린더": "Cylinder_Pressure",
#     "압력_주조": "Casting_Pressure",
#     "최대압력_공기": "Air_Pressure_Max",
#     "최소압력_공기": "Air_Pressure_Min",
#     "압력_냉각수": "Coolant_Pressure",
#     "기존_시간_1": "Rapid_Rise_Time",
#     추가 작성
# }

# {
#     "공정_변수": {
#         "속도": {
#             "단계별_사출": ["Velocity_1", "Velocity_2", "Velocity_3"],
#             "최고_사출": "High_Velocity"
#         },
#         "압력": {
#             "실린더": "Cylinder_Pressure",
#             "주조": "Casting_Pressure",
#             "공기": ["Air_Pressure_Min", "Air_Pressure_Max"],
#             "냉각수": "Coolant_Pressure"
#         },
#         "시간": ["Rapid_Rise_Time", "Cycle_Time", "Pressure_Rise_Time", "Spray_Time"],
#         "물리량": ["Clamping_Force", "Factory_Humidity", "Factory_Temp", "Coolant_Temp"]
#     },
#     "불량_유형": {
#         "표면": ["Stain", "Dent", "Scratch", "Buring_Mark"],
#         "구조": ["Short_Shot", "Bubble", "Blow_Hole", "Deformation", "Crack"],
#         "이물질": ["Contamination", "Impurity", "Inclusions"]
#     }
# }



# df2 = df2.rename(columns=rename_map)

In [13]:
df2.head()

,Process,Process.1,Process.2,Process.3,Process.4,Process.5,Process.6,Process.7,Process.8,Process.9,...,Defects.16,Defects.17,Defects.18,Defects.19,Defects.20,Defects.21,Defects.22,Defects.23,Defects.24,Defects.25
0,id,Product_Type,Shot,Velocity_1,Velocity_2,Velocity_3,High_Velocity,Cylinder_Pressure,Rapid_Rise_Time,Biscuit_Thickness,...,Blow_Hole_2,Stain_2,Dent_2,Deformation_2,Contamination_2,Impurity_2,Crack_2,Scratch_2,Buring_Mark_2,Inclusions_2
1,1,1,1,0.144,0.17,0.188,2.134,214,0.008,10,...,0,0,0,0,0,0,0,0,0,0
2,1002,1,2,0.144,0.17,0.182,2.124,217,0.008,11,...,0,0,0,0,0,0,0,0,0,0
3,2003,1,3,0.144,0.17,0.182,2.116,214,0.008,11,...,0,0,0,0,0,0,0,0,0,0
4,3004,1,4,0.144,0.17,0.182,2.137,217,0.008,11,...,0,0,0,0,0,0,0,0,0,0